$website-width: 1000px;

$black: #222;
$dark: #333;
$medium: #aaa;
$light: #eee;

//Odyssey Colors
$silver: #C4C8CF;
$red:#811517;
$purple:#5B0063;
$peach:#FF9E70;
$turquoise:#19ACBF;
$navy: #000080;
$pink: #FF96C7;
$blue: #4A8CFF;
$yellow: #fae100;
$white: #fff;
$lime: #8AC340;

//Wander Colors
$mist: #ccc6c3;
$snow: #f8f2e1;
$ambr: #de9728;
$that:#c47a2d;
$sunr:#ff8373;
$pome:#e4333f;
$drag:#b55f6f;
$velv:#4d1521;
$surf:#3aa295;
$amet:#442551;
$mead:#55683a;
$cana:#e5b30d;
$midn:#232c5e;
$cobb:#64575c;

//Wood Colors
$teak: #ba7506;
$camwood: #EBC000;
$rosewood: #A3220F;